body {
  height: 100%;
  margin: 0px;
  display: flex;
  background-color: #EEE;
  scroll-behavior: smooth;
}

ul{
  display: inline-flex;
  list-style: none;
  margin: 0;
}

ol
{
    list-style:none;
    margin:0;
    padding:0;
}

#wrapper 
{
    width: 62%;
    background-color:#FFF;
    border-radius:20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin:20px auto;
    padding:20px;
}

#header
{
    width:100%;
    padding-bottom:10px;
    display: flex; /* equal height of the children */
    border-bottom:1px solid #EEE;
}


#header li{
  margin-right: 20px;
}

.header_col 
{
    flex: 1; /* additionally, equal width */
}


#title
{
    width:40%;
    margin:0;
    padding:0;
    text-align:center;
    padding:30px 0px;
    color:#000;
}

#header_right
{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu_on_top
{
    background-color: #0B50A5;
    border-bottom: 3px solid #90AFD6;    
    position:fixed;
    top:0;
    left:0;
    z-index:99;
}

.menu_on_top a
{
    color:#FFF !important;
}

.menu_on_top a:hover
{
    color:#BCCFE6 !important;
}


#title h1 
{
    font-family: Dosis, sans-serif;
    text-transform:uppercase;
    font-weight:normal;
    font-size:50px;
    display:block;    
    margin:0;
    margin-bottom:25px;
    font-weight:300;
    line-height: 20px;

}

#title h2
{
    font-family: Josefin Sans, sans-serif;
    display:inline;
    font-weight:normal;
    font-size:30px;
}


#header_right
{
    font-family: Roboto Condensed, sans-serif;
}

#header_right a
{
    color:#000;
    text-decoration:none;
}

#header_right ul{
    margin:0;
    padding:0;
}

#header_right ul li 
{
    display: inline-block;
    margin: 0px;
    font-family: Roboto Condensed, sans-serif;
}


#social 
{
    text-align:right;
}

#social ul
{
    background-color:#0B50A5;
    border-radius: 20px 0px 0px 20px;
    padding:20px;
    margin-right:-20px;
}

#social a
{
    padding: 5px 7px;
    color:#FFF;
}

#social a:hover
{
    text-decoration:underline;
}


#social li::after
{
    content: " | ";
    color:#FFF;
}

#social li:last-child::after
{
    content:none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ED2324;
  color: white;
  cursor: pointer;
  padding: 15px;
  border:2px solid #ED2324;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #FFF;
  color: #ED2324;
}


#navigation 
{
    width:100%;
    text-align:center;
    text-transform:uppercase;
    border-top: 1px solid #EEE;
}

#navigation ul li a
{
    display: block;
    padding: 8px 8px;
    margin:0px 8px;
    color:#777;
}

#navigation ul li a:hover
{
    color:#000;/*#ED2324;*/
    -webkit-transition: color .5s; /* Safari */
    transition: color .5s;
}


.active
{
    border-bottom:3px solid #C00;
}

.active a:hover {
    border:none !important;
}

#content
{
    font-family: Source Sans Pro, sans-serif;
    color:#333;
    line-height: 28px;
    font-size:18px;
    width:90%;
    margin:10px auto;
    text-align:justify;
}

#content h2
{
    text-transform:uppercase;
    font-size:30px;
    margin-bottom:0px;
}

#content h3
{
    font-size:25px;
    font-weight: normal;
}


#bio
{
    border-bottom:1px solid #EEE;
}

#bio a 
{
    text-decoration:none;
    color:#C00;
}

#bio a:hover 
{
    border-bottom:1px solid #C00;
}

#publications
{
    border-bottom:1px solid #EEE;
}

#publications li
{
    display:flex;
    width:100%;
}

.pub_img_div {
    margin-right:20px;
}

.pub_text {
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

#publications li
{
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid #EEE;

}

#publications li:last-child
{
    margin:0;
    padding:0;
    border:none;
}

#publications p 
{
   line-height:1.1em;
   margin-top:0px;
}

#publications img {
    display: block;
    border-radius: 10%;
    box-sizing: border-box;
    background-color: #DDD;
    border: 5px solid #cfd8dc;
    height: 157px;
    width:300;
}

.pub_links
{
    line-height:30px !important;
}

.pub_links a
{
    border-top:2px solid #C00;
    border-bottom:2px solid #C00;
    color:#C00;
    font-weight:bold;
    text-decoration:none;
    padding:7px 15px;
    text-transform:uppercase;
    margin:0;
}

.pub_links a:first-child
{
    border-left:2px solid #C00;
    border-radius: 5px 0px 0px 5px;
}

.pub_links a:last-child
{
    border-right:2px solid #C00;
    border-radius: 0px 5px 5px 0px;
}

.pub_links a:hover
{
    color:#FFF;
    background-color:#C00;
    
}

 .video_row
{
    display:flex;
    flex-wrap: wrap;
}

.single_video
{
    flex: 0 0 31%;
    margin-right: 1%;
}

 .single_video:last-child
 {
    margin-right:0px;
 }

.single_video h4
{
    font-size:14px;
    line-height:18px;
    font-family:Lato;
    padding:2px;
}

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    background: #000;
    border:1px solid #000;
}
    
.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;

}
    
.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
    padding:0;
}
    
.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}
    
.youtube-player .play {
    height: 49px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -24px;
    position: absolute;
    background: url("img/video.png") no-repeat;
    cursor: pointer;
}

#media .mobile_text{
    display:none;
}

#media ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#media {
    padding:0;
}

#media img
{
    height:100px;
    max-width:100%;
    padding:10px 30px 10px 0px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin: auto;
}

#media img:hover
{
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

@media (max-width: 900px) { /* change to any number you want */
    #wrapper {
        width:100%;
        margin:0 auto;
        padding:5px;
    }
    #media img{
        display:none;
    }
    #media ul {
        display:block !important;
        list-style-type: circle !important;
    }
    #media .mobile_text{
        display:block !important; 
    }

    #media a 
    {
        text-decoration:none;
        color:#C00;
    }

    #media a:hover 
    {
        border-bottom:1px solid #C00 !important;
    }

    .pub_img_div {
        display: none;
        margin:0;
    }

    #header {
        display: inline-flex;
        flex-flow: row wrap;
    }

    .header_col 
    {
        display: inline-block;
        width: 100%;
        text-align:center;
        flex: 0 0 100%; /* Let it fill the entire space horizontally */
    }

    #social {
        display:none;
    }

    .single_video
    {
        flex: 0 0 48%;
        margin-right: 1%;
    }

    #myBtn {
        display:none !important;
    }

}
