body {
  height: 100%;
  margin: 0px;
  display: flex;
  background-color:#EEE;
  scroll-behavior: smooth;
}

ul{
  display: inline-flex;
  list-style: none;
  margin: 0;
}

ol
{
    list-style:none;
    margin:0;
    padding:0;
}

.menu_on_top
{
    background-color: #0B50A5;
    border-bottom: 3px solid #90AFD6;    
    position:fixed;
    top:0;
    left:0;
    z-index:99;

}

.menu_on_top a
{
    color:#FFF !important;
}

.menu_on_top a:hover
{
    color:#BCCFE6 !important;
}



#wrapper 
{
    width: 62%;
    background-color:#FFF;
    border-radius:20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin:20px auto;
    padding:20px;
}

#header
{
    width:100%;
    padding-bottom:10px;
    display: flex; /* equal height of the children */
    border-bottom:1px solid #EEE;
}


#header li{
  margin-right: 20px;
}

.header_col 
{
    flex: 1; /* additionally, equal width */
}


#title
{
    width:40%;
    margin:0;
    padding:0;
    text-align:center;
    padding:30px 0px;
    color:#000;
}

#header_right
{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title h1 
{
    font-family: Dosis, sans-serif;
    text-transform:uppercase;
    font-weight:normal;
    font-size:50px;
    display:block;    
    margin:0;
    margin-bottom:25px;
    font-weight:300;
    line-height: 20px;

}

#title h2
{
    font-family: Josefin Sans, sans-serif;
    display:inline;
    font-weight:normal;
    font-size:30px;
}


#header_right
{
    font-family: Roboto Condensed, sans-serif;
}

#header_right a
{
    color:#000;
    text-decoration:none;
}

#header_right ul{
    margin:0;
    padding:0;
}

#header_right ul li 
{
    display: inline-block;
    margin: 0px;
    font-family: Roboto Condensed, sans-serif;
}


#social 
{
    text-align:right;
}

#social ul
{
    background-color:#0B50A5;
    border-radius: 20px 0px 0px 20px;
    padding:20px;
    margin-right:-20px;
}

#social a
{
    padding: 5px 7px;
    color:#FFF;
}

#social a:hover
{
    text-decoration:underline;
}


#social li::after
{
    content: " | ";
    color:#FFF;
}

#social li:last-child::after
{
    content:none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ED2324;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}


#navigation 
{
    width:100%;
    text-align:center;
    text-transform:uppercase;
    border-top: 1px solid #EEE;
}

#navigation ul li a
{
    display: block;
    padding: 8px 8px;
    margin:0px 8px;
}

#navigation ul li a:hover
{
    color:#ED2324;
    -webkit-transition: color .5s; /* Safari */
    transition: color .5s;
}


.active
{
    border-bottom:3px solid #C00;
}

.active a:hover {
    border:none !important;
}

#content
{
    font-family: Roboto, sans-serif;
    line-height: 28px;
    font-size:18px;
    width:90%;
    margin:10px auto;
    text-align:justify;
}

#content h2
{
    text-transform:uppercase;
    font-size:30px;
    margin-bottom:0px;
}

#content h3
{
    font-size:25px;
    font-weight: normal;
}


#bio
{
    border-bottom:1px solid #EEE;
}

#bio a 
{
    text-decoration:none;
    color:#C00;
}

#bio a:hover 
{
    border-bottom:1px solid #C00;
}

#publications
{
    border-bottom:1px solid #EEE;
}

#publications li
{
    display:flex;
    width:100%;
}

.pub_img_div {
    width:10%;
    min-width:175px;
}

.pub_text {
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

#publications li
{
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid #EEE;

}

#publications li:last-child
{
    margin:0;
    padding:0;
    border:none;
}

#publications p 
{
   line-height:15px;
}

#publications img {
    display: block;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: #DDD;
    border: 5px solid #cfd8dc;
    height: 150px;
    width: 150px;
}

.pub_links
{
    line-height:30px !important;
}

.pub_links a
{
    border-top:2px solid #C00;
    border-bottom:2px solid #C00;
    color:#C00;
    font-weight:bold;
    text-decoration:none;
    padding:7px 15px;
    text-transform:uppercase;
    margin:0;
}

.pub_links a:first-child
{
    border-left:2px solid #C00;
    border-radius: 5px 0px 0px 5px;
}

.pub_links a:last-child
{
    border-right:2px solid #C00;
    border-radius: 0px 5px 5px 0px;
}

.pub_links a:hover
{
    color:#FFF;
    background-color:#C00;
    
}

.single_video
{
    flex:1;
    margin-right:10px;
 }

 .single_video:last-child
 {
    margin-right:0px;
 }

.single_video h4
{
    font-size:14px;
    line-height:18px;
}

 .video_row
{
    display:flex;
}


.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    background: #000;
    border:1px solid #000;
}
    
.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;


}
    
.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
    padding:0;
}
    
.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}
    
.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("img/play.png") no-repeat;
    cursor: pointer;
}


/*

body 
{
    font-family: Lato;
    text-align: justify;
    line-height:25px;
    font-size:14px;
    margin:0;
    padding:0;
    height: 100%;
    overflow: hidden;
    display: flex;
}

a 
{
    text-decoration:none;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  display: inline-flex;
  flex-shrink: 0;
  background-color: #333;
  color: white;
}

.bottom {
  flex-grow: 1;
  overflow-y: auto;
}


#navigation 
{
    width:100%;
    text-align:center;
    text-transform:uppercase;
    border-top:5px solid #EEE
}

#navigation ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

#navigation ul li 
{
    float: none;
    display: inline-block;
    margin: 0px;
    font-family: Roboto Condensed, sans-serif;
}

#navigation ul li a
{
    color:#000;
    text-decoration:none;
    display: block;
    padding: 8px 16px;
}

#navigation ul li a:hover
{
    background-color: #c40000;
    color:#FFF;    
    transition: background .5s;
}

#title
{
    width:100%;
    margin:0;
    padding:0;
    text-align:center;
    padding:50px 0px;
}

#title h1 
{
    font-family: Raleway;
    text-transform:uppercase;
    font-weight:normal;
    font-size:40px;
    display:block;    
    margin:0;
    margin-bottom:25px;
}

#title h2
{
    font-family: Josefin Sans, sans-serif;
    display:inline;
    font-weight:normal;
    font-size:20px;
}

.roundcorner {
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#contact
{
    width:40%;
    vertical-align: middle;
    padding:20px;

}

#contact
{
    float:right;
}


#contact p {
    text-align:right;
}

#contact a
{
    color: #FFF;
    text-decoration:none;
    padding: 10px;
}

#contact a:hover
{
    border-bottom:2px solid #FFF; 
    background-color:#0076B6;
}

.alignleft 
{
    float:left;
    margin-right: 10px;
}

#body 
{
    color:#000;
}

#body ol
{
    list-style:none;
    padding:0;
}

#body h2
{
    font-family: Raleway, sans-serif;
    border-bottom:1px solid #BBB;
    text-transform:uppercase;
    color:#616161;
}

#bio a
{
    color:#1990b8;
    font-weight: bold;
}

#bio a:hover
{
    color:#f44144;
}

#bio 
{
    font-family: Roboto, sans-serif;
    line-height:22px;
    color:#333;
}

#publications
 {
    clear:left;
    font-family: Ubuntu, sans-serif;
 }

 #publications li 
{
    clear:left;
    margin-bottom:40px;
    border-bottom:1px dashed #BBB;
    padding: 20px 0px;
    margin:5px auto;
    overflow:auto;
}

#publications li:last-child 
{
    border:none;
}

#publications a 
{
    padding: 5px 10px;
    background-color:#4286f4;
    border-bottom:2px solid #003056;
    color:#FFF;
    text-decoration:none;
    font-family: Roboto Condensed, sans-serif;
    margin-right:5px
}

#publications a:hover 
{
    background-color:#f44144;
    border-bottom:2px solid #6d0001;
    transition: background .5s;
}


.pub_img 
{
    float:left; 
    width:25%
}

.pub_img img 
{
    width:100%
}

.pub_text 
{
    float:right; 
    width:72.5%;
    font-family: Titillium Web, sans-serif;
    font-size:17px;
    line-height:25px;
    font-weight:100;
    color:#333;
}


#videos h3 
{
    font-size:16px;
}

.single_video
{
    width:30%;
    float:left;
     margin-left:2%
 }

.youtube-player {
        position: relative;
        padding-bottom: 56.23%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
        margin: 5px;
}
    
.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}
    
.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}
    
.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}
    
.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("img/play.png") no-repeat;
    cursor: pointer;
}



#intro_video {
    float:left;
    padding-right:20px;
    padding-bottom:20px;
}
*/